body{
	background: #c8c6a7;
}


#topTitle{
	font-family: 'Courgette', cursive;
	font-size: 60px;
	color: #435560;
	margin: 0;
}

#top
{
	display: flex;
	flex-direction: column;
	position: fixed;
	text-align: center;
	width: 100%;
	height: 100px;
	background: #c8c6a7;
	top: 0px;
	left: 0px;
}

#logoAndTitle{
	display: flex;
	justify-content: space-between;
	align-content: space-around;
	align-items: center;
}

#topImage{
	margin: 0;
	padding: 0;
	height: 100px;
	width: 100px;
}

#sideNav{
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 10.5%;
	margin: 0px;
	justify-content: space-evenly;
	list-style-type: none;
	background: #92967d;
	padding: 0;
	margin-top: 92px;
	left: 0;
}

.top-menu-nav-item{
	display: inline;
	margin: 10px;
}
.top-menu-nav-item a{
	font-size: 15px;
	font-weight: bold;
	font-family: 'Russo One', sans-serif;
	text-decoration: none;	
	color: #14191C;
}

.top-menu-nav-item a:hover{
	text-decoration: none;
	background-color: #62a4ab;
}

#content{
	padding-top: 90px;
	font-family: 'Raleway', sans-serif;
	margin-left: 10%;
}

.section{
	padding-top: 15px;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 1%;
	background-color: #E3E2D3;
}

.section-title{
	color: #283339;
	margin-top: 0px;
	padding-top: 10px;
	text-align: center;
	border-bottom: 1px solid #000; 
	line-height: 0.1em;
	margin: 10px 0 20px; 
	
}

.section-title span{
	background:#E3E2D3; 
    padding:0 10px; 
}

#section-about-image{
	float: right;
	clear: both;
	height:120px;
	width: 120px;
}

#photos-list{
	display: flex;
	overflow-x: auto;
	width: 100%;
    white-space: nowrap;
}
.photos-item{
	width: 400px;
	height: 250px;
	margin: 10px;
}
.photos-item:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

#playlist{
	text-align: center;
}

#Qr{
	text-align: center;
}

#like{
	text-align: center;
}

#qna{
	text-align: center;
}

#form-container{
	text-align: center;
}

#contact-form{
	text-align: center;
}

#qna-table, th, td{
	direction: rtl;
	  border-collapse: collapse;
	  border: 1px solid black;

  }


  